#uusiAsiakas, #takaisin {
	color: blue;
	cursor: pointer;
}

.poista{
	color: red;
	cursor: pointer;
}

.muuta{
	color: blue;
	cursor: pointer;
}

.oikealle{
	text-align: right;
}

.vasemmalle{
	text-align: left;
	color: #81599F;
	text-transform: uppercase;
	filter: brightness(70%);
}

.runko{
	text-align: left;
	color: #81599F;	
	font-weight: bold;	
}

.tausta{
	background-color: #9BCCFD;
	border: 1px solid black;
}

.otsikko{
	background-color: #ff7892;
}

.taulu{
	border: 1px solid black;
}
